.languageSearch {
	position: relative;
	width: 200px;
	font-family: "Inter", sans-serif;
    letter-spacing: 0.8px;
    font-weight: 400;
	&__selected {
		padding: 10px;
		border: 1px solid #bbb;
		border-radius: 6px;
		background: #fff;
		cursor: pointer;
		text-align: center;
		color: #333;
		transition: border 0.2s;

		&:hover {
			border: 1px solid #888;
		}
	}

	&__items {
		position: absolute;
		top: 110%;
		left: 0;
		right: 0;
		background: #fff;
		border: 1px solid #bbb;
		border-radius: 6px;
		padding: 0 10px 0 10px;
		z-index: 10;
		max-height: 250px;
		overflow-y: auto;
		box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	}

	&__input {
		position: sticky;
		top: 0;
		z-index: 5;
		width: 90%;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 6px;
		margin: 10px auto;
		font-size: 13px;
		background: #fff;

		&:focus {
		outline: none;
		border: 1px solid #888;
		}
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0 10px 10px; 
	}

	&__item {
		padding: 8px;
		border-radius: 4px;
		cursor: pointer;
		transition: background 0.2s;

		&:hover {
		background: #eee;
		}
	}
}

